<!DOCTYPE html>
<html lang="en" ng-app="bstm">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title>Time Tracker</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="./index.js"></script>
</head>

<body ng-controller="MainController as vm">
  <div class="container">
    <div class="bm-8" ng-repeat="category in vm.tracker.categories | orderBy:vm.categoryOrder(predicate):true track by $index" ng-if="category">
      <div class="flex-row">
        <div class="flex-dynamic">
          <input class="form-control" type="text" placeholder="Name" ng-model="category.name">
        </div>
        <div class="flex-static">
          <button class="btn btn-blue tracker-button" ng-click="vm.startTracking(category)" ng-if="!vm.currentlyTracking(category)">Start</button>
          <button class="btn btn-red tracker-button" ng-click="vm.endTracking(category)" ng-if="vm.currentlyTracking(category)">Stop</button>
        </div>
        <div class="flex-static">
          <button class="btn btn-icon color-blue" ng-click="vm.openAddSegmentModal(category)"><div class="material-icons">add</div></button>
        </div>
        <div class="flex-static">
          <button class="btn btn-icon color-red" ng-click="vm.removeCategory(category)"><div class="material-icons">close</div></button>
        </div>
      </div>
    </div>

    <div class="bm-32">
      <button class="btn btn-gray" ng-click="vm.addCategory()">New</button>
    </div>

    <div class="bm-32" ng-repeat="category in vm.tracker.categories track by $index" ng-if="vm.anySegments(category)">
      <h2 class="h24 bm-8" ng-bind="category.name"></h2>
      <div class="flex-row">
        <div class="flex-dynamic">
          Daily: <span ng-bind="vm.totalTimeToday(category)"></span>
        </div>
        <div class="flex-static" ng-bind="vm.percentageOfDay(category)"></div>
      </div>
      <div class="flex-row">
        <div class="flex-dynamic">
          Weekly: <span ng-bind="vm.totalTimeThisWeek(category)"></span>
        </div>
        <div class="flex-static" ng-bind="vm.percentageOfWeek(category)"></div>
      </div>
    </div>

    <div class="bm-32" ng-repeat="category in vm.tracker.categories track by $index" ng-if="vm.anySegments(category)">
      <h2 class="h18 bm-8" ng-bind="category.name"></h2>
      <div class="flex-row" ng-repeat="segment in category.segments track by $index">
        <span class="flex-dynamic difftime" ng-bind="vm.segmentTime(segment)"></span>
        <span class="flex-static datetime" ng-bind="vm.formatDate(segment)"></span>
        <button ng-click="vm.removeSegment(category, segment)" class="btn btn-icon color-gray" class="flex-static"><i class="material-icons">close</i></button>
      </div>
    </div>
  </div>
  <div class="modals" ng-class="{ showing: vm.showingModal }">
    <div class="modal-bg" ng-click="vm.closeModal()"></div>
    <div class="modal-content">
      <div class="add-time-modal" ng-repeat="category in vm.activeCategoryAsArray()">
        <div class="bm-32">
          <h3 class="h18 bm-8">Start</h3>
          <select ng-model="vm.newSegment.start.month" ng-options="option for option in vm.lists.months"></select>
          <select ng-model="vm.newSegment.start.day" ng-options="option for option in vm.lists.days"></select>
          <select ng-model="vm.newSegment.start.hour" ng-options="option for option in vm.lists.hours"></select>
          <select ng-model="vm.newSegment.start.minute" ng-options="option for option in vm.lists.minutes"></select>
          <select ng-model="vm.newSegment.start.second" ng-options="option for option in vm.lists.seconds"></select>
        </div>
        <div class="bm-32">
          <h3 class="h18 bm-8">End</h3>
          <select ng-model="vm.newSegment.end.month" ng-options="option for option in vm.lists.months"></select>
          <select ng-model="vm.newSegment.end.day" ng-options="option for option in vm.lists.days"></select>
          <select ng-model="vm.newSegment.end.hour" ng-options="option for option in vm.lists.hours"></select>
          <select ng-model="vm.newSegment.end.minute" ng-options="option for option in vm.lists.minutes"></select>
          <select ng-model="vm.newSegment.end.second" ng-options="option for option in vm.lists.seconds"></select>
        </div>
        <h3 class="h18 bm-32" ng-bind="vm.newSegmentLength()"></h3>
        <button class="btn btn-blue" ng-click="vm.addSegment()">Add</button>
      </div>
    </div>
  </div>
</body>
</html>
